.container {
  background-color: var(--bg500);
  width: min(600px, calc(100vw - 128px));
  display: flex;
  flex-direction: column;
  border: 1px solid var(--g500);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 50%);
}