.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    min-height: 80vh;
}

.inputBox {
    padding: 15px;
    display: flex;
    align-items: center;
    border-color: transparent;
    background-color: white;
    font-size: 25px;
    width: 825px;
    height: 70px;
    border-radius: 10px;
}

.inputFieldDesc,
.inputFieldTitle {
    padding: 15px;
    display: flex;
    align-items: center;
}



.sendBut {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-color: var(--p500);
    color: white;
    font-size: 20px;
}

.sendBut:hover {
    background: #C5557B;
}

.sendDiv {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 15px;
}

.inputBoxError {
    border-color: red;
}

.successMessage {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 5px;
}

@media (max-width: 450px) {

    .inputBox {
        width: 250px;
        height: 70px;
        font-size: 12px;
        text-align: center;
    }

    .thankYouMsg {
        font-size: 20px;
        text-align: center;
    }

    .sendDiv {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-top: 15px;
    }

    .sendBut {
        align-items: center;
    }

    .successMessage {
        margin-top: 25px;
    }
}