.post {
  width: 320px;
  max-width: 400px;
}

.top {
  display: flex;
  align-items: center;
}

.profilePicture {
  background-color: var(--b700);
  color: #fff;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  font-size: 20px;
  border-radius: 50%;
  margin-right: 16px;
}

.name {
  font-weight: 600;
}

.subtext {
  font-size: 12px;
}

.content {
  margin: 16px 0;
}

.bottom {
  display: flex;
  gap: 24px;
}

.bottomItem {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
}

.bottomItemButton {
  font-size: 24px;
}

.bottomItemButton:hover {
  cursor: pointer;
}

.likeButton {
  font-variation-settings: 'FILL' 0 !important;
}

.userInfo {
  flex-grow: 1;
}

.bottomItemButton.liked {
  font-variation-settings: 'FILL' 1 !important;
}

.options {
  justify-self: flex-end;
}
