.quizContainer {
  display: flex;
  flex-direction: column;
  width: 50vw;
  min-height: 70vh;
}

.answerList {
  list-style-type: none;
  padding: 0;
}

.answerList li {
  margin: 20px;
}

.answerList label {
  display: flex;
  align-items: center;
  word-break: break-word;
}

.answerList label input {
  margin-right: 10px;
}

.quizContent {
  flex: 1;
}

.progressBar {
  margin-top: 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.progress {
  width: 80%;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
}

.buttonContainer button {
  background: #ac3b61;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 90px;
  text-align: center;
}

.buttonContainer button:hover {
  background: #C5557B;
}

@media (max-width: 600px) {
  .quizContainer {
    padding: 5px;
  }

  .answerList label {
    font-size: 14px;
  }

  .buttonContainer button {
    margin-top: 10%;
    margin-left: 10%;
  }
}