.PopupCard {
    width: 20vw;
    height: 40vh;
    position: absolute;
    border-radius: 32px;
    border: 2px solid var(--g500);
    left: 50%;
    top: 15%;
    z-index: 998;
    background-color: #edc7b7;
    padding: 40px;
    transform: translateX(-50%);
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(3px);
}

.content {
    height: 55vh;
}