.ggzText {
    align-content: center;
    width: 500px;
    padding-top: 5px;
    border-style: hidden;
    border-width: 1px;
    padding-left: 3px;
    padding-bottom: 10px;
    word-wrap: break-word;
    vertical-align: bottom;
    font-size: xx-large;
}
.ggzTitel {
    text-align: center;
    font-size: 50px;
}
.image {
    object-fit: contain;
    width: 100%;
    height: auto;
    object-position: center;
}
