.parentContainer {
  display: flex;
  align-items: center;
  width: 600px;
  height: 250px;
  padding: 10px 90px;
}

.circularProfilePhoto {
  width: 193.964px;
  height: 193.968px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #2f2e41;
}

.userInfo {
  margin-left: 20%;
}

.saveButton {
  background-color: #ac3b61;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}
