.event {
  display: flex;
  justify-content: space-between;
  padding: 2px 0px;
}

.info {
  display: flex;
}

.eventDay {
  display: block;
  font-variant-numeric: tabular-nums;
  width: 32px;
}

.eventName {
  display: block;
}

.createPopUp {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #4104;
}

.dialog {
  background-color: var(--bg500);
  width: 20%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateY(-10%);
  padding: 24px;
  align-items: center;
  justify-content: flex-end;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  overflow: auto;
  align-items: left;
}

.dialogButtons {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 20px;
}

.button,
.secondaryButton {
  display: block;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.button {
  background-color: var(--p500);
  border: none;
  color: #fff;
}

.secondaryButton {
  background-color: var(--bg300);
  color: inherit;
}

.h1 {
  font-size: 36px;
  text-align: left;
}

.description {
  font-size: 20px;
  align-items: center;
  margin-top: 15px;
}

@media (max-width: 1250px) {
  .dialog {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .dialog {
    width: 60%;
  }
}

.signUp {
  background-color: transparent;
  border-color: transparent;
  font-family: inherit;
  color: inherit;
  font-weight: bold;
  font-size: 15px;
}

.signUp:hover {
  background-color: rgba(0, 0, 0, 0.05);
  text-decoration: underline;
}

.timeText {
  font-size: 30px;
}

.edit,
.editGroup {
  background-color: var(--bg300);
  border: none;
  padding: 0px 8px;
  color: inherit;
  font-size: 20px;
  display: flex;
  height: 24px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.group {
  background-color: var(--bg300);
  border: none;
  padding: 0px 8px;
  color: inherit;
  font-size: 20px;
  display: flex;
  height: 24px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

@media (min-width: 450px) {
  .group {
    margin-top: 5px;
  }
}

.exit {
  background-color: var(--bg300);
  border: none;
  padding: 10px 16px;
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  color: inherit;
  font-size: 24px;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.table {
  border-spacing: 12px 0;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 2px 8px;
}

.table tr:first-child {
  color: #fff;
  text-align: left;
  background-color: var(--p500);
}

.table tr:first-child th {
  font-weight: normal;
  padding: 4px 8px;
}

.table tr td:last-child {
  padding-right: 0;
}

.tableId {
  text-align: right;
  font-variant-numeric: tabular-nums;
}




.errorBorder {
  display: block;
  min-height: 32px;
  padding: 0 12px;
  flex-grow: 1;
  border: 1px solid red;
  width: 100%;
}

.textBox {
  display: block;
  min-height: 32px;
  padding: 0 12px;
  flex-grow: 1;
  border: 1px solid var(--bg600);
  width: 100%;
  margin-bottom: 10px;
  margin-top: 5px;
}

.dateBox {
  display: flex;
  align-items: center;
  left: 0%;
  min-height: 32px;
  padding: 0 12px;
  border: 1px solid var(--bg600);
  width: 65%;
  margin-bottom: 10px;
  margin-top: 5px;
}

.dateBox input {
  border: none;
  width: calc(100% - 12px);
}


.adminButton,
.adminSecondaryButton {
  flex-grow: 1;
  border: none;
  padding: 12px;
  /* Adjust the padding as needed */
  cursor: pointer;
  text-align: center;
}

.adminButton {
  background-color: var(--p500);
  border: none;
  color: #fff;
}

.adminSecondaryButton {
  background-color: var(--bg300);
  color: inherit;
}

.adminDialogButtons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  margin-top: 20px;
}

@media (max-width: 475px) {
  .adminDialogButtons {
    flex-direction: column-reverse;
    align-items: center;
  }

  .adminButton,
  .adminSecondaryButton {
    width: 175%;
  }
}