.months {
  width: 512px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.monthName {
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 12px;
}

.eventsWrapper {
  display: flex;
  gap: 12px;
}

.events {
  padding: 8px 0px;
  width: 100%;
  font-weight: 600;
}

.bar {
  width: 16px;
  background-color: var(--g500);
  border-radius: 8px;
  border: 1px solid var(--g500)
}

.bar.januari {
  background-color: #BAB2B5;
}

.bar.februari,
.bar.december {
  background-color: #BDA5A7;
}

.bar.maart,
.bar.november {
  background-color: #BF9FA0;
}

.bar.april,
.bar.oktober {
  background-color: #C09898;
}

.bar.mei,
.bar.september {
  background-color: #C38C96;
}

.bar.juni,
.bar.augustus {
  background-color: #C68093;
}

.bar.juli {
  background-color: #CB688D;
}

.add {
  background-color: var(--bg300);
  border: none;
  padding: 0px 8px;
  color: inherit;
  font-size: 20px;
  display: flex;
  height: 35px;
  align-items: center;
  justify-content: center;
}

.addDiv {
  display: flex;
  justify-content: right;
}