.loginContainer {
  background-color: var(--bg500);
  border: 2px solid var(--g600);
  border-radius: 64px;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 10%);
  display: flex;
  padding: 40px 64px 64px 64px;
  width: 50vw;
  max-width: 100%;
  margin: auto;
  margin-top: 64px;
  gap: 32px;
  align-items: end;
}

.loginTitle {
  font-weight: 600;
}

.left {
  width: 256px;
  max-width: 100%;
  flex-shrink: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px;
}

.image {
  width: 100%;
  object-position: right bottom;
  object-fit: contain;
}

.textbox {
  display: block;
  width: 100%;
  height: 32px;
  border: 2px solid var(--b500);
  padding: 4px 12px;
}

.textbox::placeholder {
  color: inherit;
}

.forgotPassword {
  color: var(--b500);
  font-style: italic;
  font-weight: 300;
}

.checkboxWrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
  gap: 12px;
}

.checkbox {
  width: 24px;
  height: 24px;
}

.label {
  font-weight: 600;
}

.loginButton {
  background: #AC3B61;
  color: white;
  padding: 10px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  text-align: center;
}

.loginButton:hover {
  background: #C5557B;
}

.popupContainer {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg500);
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.popup {
  text-align: center;
}

.popup p {
  margin-bottom: 15px;
}

.popup button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: var(--p500);
  color: white;
  font-size: 14px;
}

.tourButton,
.closeButton {
  flex-grow: 1;
  min-width: 150px;
  padding: 8px;
  background-color: var(--bg300);
  border-radius: 4px;
}

.closeButton {
  background-color: var(--p500);
}



@media (max-width: 600px) {
  .loginContainer {
    width: 100%;
  }
}