.loginContainer {
  background-color: var(--bg500);
  border: 2px solid var(--g600);
  border-radius: 64px;
  box-shadow: 8px 8px 0px rgba(0, 0, 0, 10%);
  display: flex;
  padding: 40px 64px 64px 64px;
  width: 700px;
  max-width: 100%;
  margin: auto;
  margin-top: 64px;
  gap: 32px;
  align-items: end;
}

.loginTitle {
  font-weight: 600;
}

.left {
  width: 256px;
  flex-shrink: 0;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 16px;
}

.image {
  width: 100%;
  object-position: right bottom;
  object-fit: contain;
}

.textbox {
  display: block;
  width: 100%;
  height: 32px;
  border: 2px solid var(--b500);
  padding: 4px 12px;
  /* color: var(--b700); */
}

.textbox::placeholder {
  color: inherit;
}

.forgotPassword {
  color: var(--b500);
  font-style: italic;
  font-weight: 300;
}

.checkboxWrapper {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
  gap: 12px;
}

.checkbox {
  width: 24px;
  height: 24px;
}

.label {
  font-weight: 600;
}

.loginButton {
  display: block;
  color: var(--g100);
  background-color: var(--p500);
  text-align: center;
  padding: 8px;
}
