.post {
  width: 100%;
  padding: 16px 16px 16px 32px;
  position: relative;
}

.reportOverlay {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#4104, #0000);
}

.reportTextarea {
  resize: none;
  max-width: 100%;
}

.reportLabel {
  font-weight: 500;
  display: block;
  margin-bottom: 8px;
}

.reportBox {
  background-color: var(--bg500);
  padding: 12px;
  margin: 8px auto;
  width: min-content;
  max-width: 100%;
  border: 1px solid var(--g500);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 20%);
}

.reportOverlayButtons {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.reportButton {
  padding: 4px 8px;
  color: inherit;
  background-color: var(--g200);
  border: none;
}

.reportButton.red {
  background-color: var(--p500);
  color: #fff;
}

.top {
  display: flex;
  align-items: center;
}

.profilePicture {
  background: linear-gradient(#fff, var(--bg500));
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  font-size: 22px;
  border-radius: 50%;
  margin-right: 16px;
  overflow: hidden;
  border: 1px solid var(--b700);
}

.profilePictureImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.name {
  font-weight: 600;
  color: inherit;
}

.name:hover {
  text-decoration: underline;
}

.subtext {
  font-size: 12px;
}

.content {
  margin: 16px 0;
}

.bottom {
  display: flex;
  gap: 24px;
}

.bottomItem {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  width: 48px;
  color: inherit;
}

.bottomItemButton {
  font-size: 24px;
}

.bottomItemButton:hover {
  cursor: pointer;
}

.likeButton {
  font-variation-settings: "FILL" 0 !important;
}

.userInfo {
  flex-grow: 1;
}

.bottomItemButton.liked {
  font-variation-settings: "FILL" 1 !important;
}

.options {
  font-size: 20px;
  justify-self: flex-end;
  display: flex;
  border-radius: 50%;
  padding: 4px;
  position: relative;
}

.optionsSymbol {
  color: #2699fb;
  font-size: 24px;
}

.options:hover {
  cursor: pointer;
  background-color: #691c1210;
}

.optionsMenu {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--bg500);
  font-size: 16px;
  width: max-content;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--g500);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 20%);
}

.optionsList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px
}

.optionsList > li {
  display: flex;
  gap: 8px;
  align-items: center;
}

.listSymbol {
  display: block;
}

.optionsList > li:hover > .listText {
  text-decoration: underline;
}

.subtextUrl {
  color: inherit;
}
