.quoteText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}

@media (max-width: 450px) {
    .quoteText {
        font-size: 45px;
        letter-spacing: -4px;
    }
}
    
