.filterOptions {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
}

.search,
.textBox {
    display: block;
    min-height: 32px;
    padding: 0 12px;
    flex-grow: 1;
    border: 1px solid var(--bg600);
}

.select,
.button,
.secondaryButton {
    display: block;
    border: none;
    padding: 8px 12px;
}

.button {
    background-color: var(--p500);
    border: none;
    color: #fff;
}

.select,
.secondaryButton {
    background-color: var(--bg300);
    color: inherit;
}

.select {
    font-size: inherit;
}

.table {
    border-spacing: 12px 0;
    border-collapse: collapse;
}

.table td,
.table th {
    padding: 2px 8px;
}

.table tr:first-child {
    color: #fff;
    text-align: left;
    background-color: var(--p500);
}

.table tr:first-child th {
    font-weight: normal;
    padding: 4px 8px;
}

.table tr td:last-child {
    padding-right: 0;
}

.tableId {
    text-align: right;
    font-variant-numeric: tabular-nums;
}

.edit {
    background-color: var(--bg300);
    border: none;
    padding: 0px 8px;
    color: inherit;
    font-size: 20px;
    display: flex;
    height: 24px;
    align-items: center;
    justify-content: center;
}


.dialog {
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: var(--bg500);
    padding: 24px;
    margin: 64px auto;
}

.dialog .button,
.dialog .secondaryButton {
    margin-top: 12px;
}

.sort {
    margin-left: auto;
    width: fit-content;
    margin-bottom: 12px;
}

.sortSelect {
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
}

.errorBorder {
    display: block;
    min-height: 32px;
    padding: 0 12px;
    flex-grow: 1;
    border: 1px solid red;
}

.createModule {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #4104;
    display: flex;
    justify-content: center;
}

.newDialog {
    background-color: var(--bg500);
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 128px;
    transform: translateX(-50%);
    padding: 24px;
}

.newDialogButtons {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    margin-top: 8px;
}

.newButton,
.newSecondaryButton {
    display: block;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.newButton {
    background-color: var(--p500);
    border: none;
    color: #fff;
}

.newSecondaryButton {
    background-color: var(--bg300);
    color: inherit;
}

.input2 {
    font-size: 16px;
    font-family: inherit;
    resize: vertical;
    padding: 8px;
}

.add {
    background-color: var(--bg300);
    border: none;
    padding: 0px 8px;
    color: inherit;
    font-size: 20px;
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: center;
}

.dialogBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createModuleBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adminButton,
.adminSecondaryButton {
    flex-grow: 1;
    border: none;
    padding: 12px;
    /* Adjust the padding as needed */
    cursor: pointer;
    text-align: center;
}

.adminButton {
    background-color: var(--p500);
    border: none;
    color: #fff;
}

.adminSecondaryButton {
    background-color: var(--bg300);
    color: inherit;
}

.adminDialogButtons {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-top: 20px;
}

@media (max-width: 475px) {
    .adminDialogButtons {
        flex-direction: column-reverse;
        align-items: center;
    }

    .adminButton,
    .adminSecondaryButton {
        width: 175%;
    }
}