.dialog {
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: var(--bg500);
  padding: 24px;
  margin: 64px auto;
  border: 2px solid var(--g500);
  border-radius: 24px;
}

.dialog .button, .dialog .secondaryButton {
  margin-top: 12px;
}
