.styledButton {
  padding: 5px 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: #9b2c50;
  color: white;
  border: 2px solid #9b2c50;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  margin-left: 10px;
}

.styledButton:hover {
  background-color: #7c203e;
  border-color: #7c203e;
}

.styledButton:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}

@media (max-width: 768px) {
  .styledButton {
    font-size: 14px;
    padding: 4px 8px;
    margin-left: 0px;
    margin-top: 10px;
  }
}
