@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tabs {
  display: flex;
  flex-direction: column;
  background: var(--bg300);
  border-bottom: 2px solid var(--g500);

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.tab {
  flex-grow: 1;
  padding: 12px 20px;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.tab.active {
  background: var(--g200);
}

.settingsContent {
  padding: 20px;
  animation: fadeIn 0.5s;
}
