.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    min-height: 80vh;
}

.inputBox{
    padding: 15px;
    display: flex;
    align-items: center;
    border-color: transparent;
    background-color: white;
    font-size: 25px;
    width: 825px;
}

.inputField{
    padding: 15px;
    display: flex;
    align-items: center;
}
