.wrapper {
  margin-top: 8px;
  display: flex;
  gap: 8px;
}

.bar {
  width: 16px;
  border: 1px solid var(--g500);
  border-radius: 8px;
}

.info {
  display: flex;
  gap: 8px;
  font-weight: 600;
  margin: 8px 0px;
}

.month {
  font-size: 16px;
  text-transform: capitalize;
}

.day {
  font-variant-numeric: tabular-nums;
}

.bar.januari {
  background-color: #BAB2B5;
}

.bar.februari, .bar.december {
  background-color: #BDA5A7;
}

.bar.maart, .bar.november {
  background-color: #BF9FA0;
}

.bar.april, .bar.oktober {
  background-color: #C09898;
}

.bar.mei, .bar.september {
  background-color: #C38C96;
}

.bar.juni, .bar.augustus {
  background-color: #C68093;
}

.bar.juli {
  background-color: #CB688D;
}
