.blocks {
  /* width: calc(100vw - 40px - 40px); */
  display: grid;
  grid-template: repeat(4, 200px) / repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  grid-template-areas:
    "news  news  quiz         agenda"
    "news  news  education education"
    "forum forum education education"
    "forum forum education education";
}

.news {
  grid-area: news;
  overflow: hidden;
}

.forum {
  grid-area: forum;
  overflow: hidden;
}

.quiz {
  grid-area: quiz;
}

.agenda {
  grid-area: agenda;
}

.education {
  grid-area: education;
}

.noEvents {
  line-height: 1.5em;
}

@media screen and (max-width: 420px) {
  .blocks {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .news {
    height: 400px;
  }
}