.blocks {
  /* width: calc(100vw - 40px - 40px); */
  display: grid;
  grid-template: repeat(4, 200px) / repeat(4, 1fr);
  grid-template-areas:
    "news  news  quiz     agenda"
    "news  news  educatie educatie"
    "forum forum educatie educatie";
}

.news {
  grid-area: news;
  overflow: hidden;
}

.quiz {
  grid-area: agenda;
}

.noEvents {
  line-height: 1.5em;
}

@media screen and (max-width: 420px) {
  .blocks {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .news {
    height: 400px;
  }
}
